body {background-color:lightblue;
    /*background-image: url(/home/ukistudend/Downloads/edgh.jpg);*/
    background-image: url(https://parathan.com/static/fc3c68872289c98392dc72d233256680/29d31/1.jpg);
    background-repeat: no-repeat;
    background-size: 200px 100px;
    background-position: bottom;
    height: 500px;
    width: 800px;
    

    

}
h1{color: rgb(14, 54, 139);
 text-align: center;
}
p{color: red; 
font-size:30;
font-family:Verdana, Geneva, Tahoma, sans-serif;
}
span{
font-weight: bold;
text-align: center;
}

/*  p{color: red; 
font-size:30
}*/
  